$white: white;
$black: black;
$light-grey: #898F8F;
$yellow:  #FFCC00;
$dark-grey:  #666; 
$grey: #333;

$base-font-size: 14px;

$font-family: 'raleway';

$font-h1-2: 'roboto';
$font-view: 'open_sans'

